
<h2>: New Request from <strong>{{ leadCompany }}</strong> about <strong>{{ service }}</strong>:</h2>
<p><strong>Name:</strong> {{ name }}</p>
<p><strong>Email:</strong> {{ email }}</p>
<p><strong>Phone:</strong> {{ phone }}</p>
<p><strong>Service-Catagory:</strong> {{ service }}</p>
<p><strong>Message from User:</strong><br>{{ message }}</p>
<br>
<br>
<p><strong>Company:</strong> {{ leadCompany }}</p>
<p><strong>Website Source:</strong> {{ websiteSource }}</p>
<p><strong>Submitted At:</strong><br>{{ submitted_at }}</p>
